[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
psycopg2 = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
django-filter = "*"
psycopg2-binary = "*"
python-dotenv = "*"
dj-database-url = "*"
django-environ = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
