.scheduler-dashboard-options {
    transition: transform 0.3s ease;
  }
.scheduler-dashboard-options:hover{
    border-bottom: 2px solid #556BD9;
    cursor: pointer;
    transform: scale(1.2);
}
.schedule-item {
  width: 100%;
  height: 105px;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 10px;
}
.schedule-item:hover{
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.events-container{
  max-height: 700px;
  height: 85%;
  margin-top: 45px;
  margin-right: 10%;
  width: 87%;
  overflow-y: auto;
  padding-inline: 20px !important;
  /* background-color: rgba(0, 0, 0, 0.05); */
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  margin-left: 3.5%;
  overflow-x: hidden;
}
.events-button{
  height: 35px;
  width: 90%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  background-color: #556BD9;
  margin-left: 5.5%;
  margin-bottom: 20px;
}
.events-button:hover{
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.events-create{
  height: 35px;
  width: 35%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-left: 65%;
  margin-top: 25px;
  background-color: #556BD9;
  right: 0;
}
.events-create:hover{
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.photo-option{
  display: flex;
  width: 10%;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-bottom: solid 5px white;
}
.photo-option:hover{
  cursor: pointer;
  background-color: #e6e6e6;
  border-radius: 4px;
}
.photogrid-container {
  background-color: rgba(51, 51, 51, 0);
  margin-top: 40px;
  width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
  padding-inline-start: 0px !important;
  padding-inline-end: 0px !important;
  gap: 3%;
}
.photo-container {
  /* flex: 1 0 21%; */
  background-color: white;
  box-sizing: border-box;
  padding: 0px !important;
  border-radius: 16px;
  margin-bottom: 20px;
  padding-inline: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.square-image {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.photo-container-noshadow {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 0px !important;
  border-radius: 16px;
  margin-bottom: 20px;
  padding-inline: 0px;
  justify-items: center !important;
  align-items: center !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.photo-container-noshadow:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}
.photo-icons {
  border-radius: 4px;
  padding-inline: 3px;
  align-items: center;
}
.photo-icons:hover {
  cursor: pointer;
  background-color: rgba(230, 216, 216, 0.6);
}
.sliding-div {
  position: fixed;
  width: 300px;
  height: 89vh;
  background-color: rgba(255, 255, 255, 0.75);
  right: 0;
  transform: translate(0, -20px);
  transition: transform 0.3s ease-in-out;
  z-index: 9991;
  border-left: solid 1px rgba(51, 51, 51, 0.2);
  border-bottom: solid 1px rgba(51, 51, 51, 0.2);
  border-radius: 16px;
}
.sliding-div.hidden {
  transform: translate(300px, -20px);
}
.sliding-div.visible {
  transform: translate(0, -20px);
}
.sliding-icon {
  transition: transform 0.3s ease-in-out;
}
.overlay {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.0);
  right: 0;
  z-index: 9990;
  transform: translate(0, -20px);
  pointer-events: auto;
  transition: transform 0.3s ease-in-out;
}
.report-options{
  background: none;
}
.report-options:hover{
  cursor: pointer;
  background-color: rgba(230, 216, 216, 0.6);
}