@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
.inter-700-170px-light {
  color:#22242b;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 170px;
}
.inter-700-28px-light {
  color:#22242b;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}
.inter-700-28px {
  color:#000000;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}
.inter-600-20px {
  color:#22242b;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
.inter-600-16px {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.inter-400-28px {
  color:#000000;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}
.inter-500-16px {
    color:#8A92A6;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
.inter-500-16px-dark {
    color:#000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
.dropdowntoggle-title {
    padding: 0px;
    color:#000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 4px;
  }
.inter-500-18px {
    color: #626876;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }
.inter-500-19px {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    padding: 24px;
  }
.inter-500-19px-nopadding {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
  }
.inter-500-20px {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }
.inter-400-16px {
    color:#8A92A6;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
.inter-400-16px-dark {
    color:#000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
.inter-400-16px-link {
    color:#087AEB;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
  }
.buttons-font {
    white-space: nowrap;
    color: #3A57E8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-left: 12px;
    padding-top: 3px;
  }
  .buttons-font-v2 {
    white-space: nowrap;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }
.error-font {
    color:#FF0000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
.table-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    padding: 24px;
}
.table-head {
    color:#8A92A6 !important;
    background-color:#F5F6FA !important;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: none !important;
}
.table-body {
    color:#232D42 !important;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 62px !important;
    vertical-align: middle !important;
    border: none !important;
}
.dropdown-item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-top: 10px;
}
.card-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    padding-top: 10px;
    padding-bottom: 24px;
}
.form-label {
    color:#8A92A6;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
